<!DOCTYPE html>
<html lang="pt-br">

<head>
	<!-- Meta tags Obrigatórias -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	<title>Olá, mundo!</title>
</head>

<body>
	<header th:include="fragmentos::topo">
	</header>
	<main class="container">
		<h1>Funcionario</h1>

		<form enctype="multipart/form-data"
 method="post" th:action="@{/funcionario/salvar}" 
							th:object="${funcionario}">
			<div class="form-group">
				<label for="exampleInputEmail1">Código</label>
				<input th:field="*{id}" type="text" readonly class="form-control" id="exampleInputEmail1"
					aria-describedby="emailHelp">

			</div>
			<div class="form-group">
				<label for="exampleInputPassword1">Nome</label>
				<input th:field="*{nome}" type="text" class="form-control" id="exampleInputPassword1"
					placeholder="nome..." autofocus>
			</div>
			
			<div class="form-group">
				<label for="exampleInputPassword1">Usuario</label>
				<input th:field="*{usuario.username}" type="text" class="form-control" id="exampleInputPassword1"
					placeholder="usuario...">
			</div>
			
			<div class="form-group">
				<label for="exampleInputPassword1">Senha</label>
				<input th:field="*{usuario.password}" type="password" class="form-control" id="exampleInputPassword1"
					placeholder="senha...">
			</div>
			
			<div class="form-group">
				
				<input th:field="*{usuario.id}" type="hidden">
			</div>
			
			<div class="form-group">
				<label for="exampleInputPassword1">Data</label>
				<input th:field="*{dataNascimento}" type="date" class="form-control" id="exampleInputPassword1"
					placeholder="data nascimento...">
			</div>
			
			<!-- <div class="form-group">
				<label for="exampleInputPassword1">Rendimento</label>
				<input th:field="*{rendimento}" type="text" class="form-control" id="exampleInputPassword1"
					placeholder="rendimento...">
			</div> -->
			
			<!-- <div class="form-group">
				<label for="exampleInputPassword1">Categoria</label>
				<select class="form-control" 
				th:field="*{categoria}">
					<option value="">Selecione uma categoria</option>
					<option th:each="item:${listacategoria}" 
					th:value="${item.id}"
					th:text="${item.descricao}"
					 ></option>
				</select>
			</div> -->
			
			<div class="form-group">
				<label>Imagem</label>
				 <input type="file" 
				  id="file"
				   name="file"/>
			</div>

			<a class="btn btn-secondary" th:if="${nomeusuario} == null" href="/">Voltar</a>
			<a class="btn btn-secondary" th:if="${nomeusuario} != null" href="/funcionario/listar">Voltar</a>
			<button type="submit" class="btn btn-primary">Salvar</button>
		</form>

		<div th:if="${retorno} !=null" class="row">

			<span th:if="${retorno}" class="alert alert-success" th:text="${mensagem}"></span>
			<span th:if="!${retorno}" class="alert alert-danger" th:text="${mensagem}"></span>
		</div>


	</main>
	<!-- <footer th:include="fragmentos::rodape"></footer> -->
	<!-- JavaScript (Opcional) -->
	<!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
</body>

</html>