<!DOCTYPE html>
<html lang="pt-br">

<head>
	<!-- Meta tags Obrigatórias -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	<title>Olá, mundo!</title>
</head>

<body>
	<header th:include="fragmentos::topo">
	</header>
	<main class="container">

		<h1>Venda</h1>

		<!-- <div class="form-group">
			<label for="exampleInputPassword1">Funcionario</label>
			<select class="form-control" id="idfuncionario">
				<option value="">Selecione um funcionario</option>
				<option th:each="item:${listafuncionario}" th:value="${item.id}" th:text="${item.nome}"></option>
			</select>
		</div> -->

		<div class="form-group">
			<label for="exampleInputPassword1">Cliente</label>
			<select class="form-control" id="idcliente">
				<option value="">Selecione um cliente</option>
				<option th:each="item:${listacliente}" th:value="${item.id}" th:text="${item.nome}"></option>
			</select>
		</div>

		<div class="form-group">
			<label for="exampleInputPassword1">Categoria</label>
			<select class="form-control" id="idcategoria">
				<option value="">Selecione um produto</option>
				<option th:each="item:${listacategoria}" th:value="${item.id}" th:text="${item.descricao}"></option>
			</select>
		</div>

		<div class="form-group">
			<label for="exampleInputPassword1">Produto</label>
			<select class="form-control" id="idproduto">
				<option value="">Selecione um produto</option>
				<option th:each="item:${listaproduto}" th:value="${item.id}" th:text="${item.nome}"></option>
			</select>
		</div>


		<div style="margin-bottom:20px" class="row">
			<div class="col-4">
				<input value="1" type="number" id="txtquantidade" class="form-control" />
			</div>
			<div class="col-4">
				<a id="btnincluirproduto" class="btn btn-primary" href="#">
					Incluir Produto
				</a>
			</div>
		</div>

		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th scope="col">Código</th>
					<th scope="col">Descrição</th>
					<th scope="col">Quantidade</th>
					<th scope="col">Valor Unitário</th>
					<th scope="col">Total</th>
					<th scope="col"></th>
					<th scope="col">Excluir</th>
				</tr>
			</thead>
			<tbody id="dadostabela">
			</tbody>
		</table>


		<table style="display: none;">
			<tr id="linhamodelo">
				<td class="codigo"></td>
				<td class="descricao"></td>
				<td class="quantidade">
					<select class="quantidadeproduto">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
					</select>
				</td>
				<td class="valorunitario"></td>
				<td class="total">

				</td>
				<td class="totalinput">
					<input class="totalnumber" type="hidden">
				</td>
				<td class="excluir">
					<a href="#" class="btnexcluir">Excluir</a>
				</td>
			</tr>
		</table>
		<h3>Total Geral
			<span id="totalgeral"></span>
		</h3>
		<a class="btn btn-secondary" th:if="${nomeusuario} != null" href="/venda/listar">Voltar</a>
		<button class="btn btn-primary" id="btnsalvar">Salvar</button>
	</main>
	<!-- <footer th:include="fragmentos::rodape"></footer> -->
	<!-- JavaScript (Opcional) -->
	<!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"
		integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
	<div th:include="fragmentos::script">
	</div>
	<script>
		$(document).ready(function () {

			$("#btnincluirproduto").click(function () {

				incluirProduto();

			});

			$("#btnsalvar").click(function () {

				finalizarVenda();
			});

		});


		function finalizarVenda() {
			let idcliente = $("#idcliente").val();
			// var funcionario = $("#idFuncionario").val();

			let venda = {
				cliente: { id: idcliente },
				itens: []
			}

			console.log(venda)

			$("#dadostabela tr").each(function (index, elemento) {
				var linha = $(elemento);

				var quantidade = linha.find(".quantidadeproduto").val();
				var valorunitario = pegarValor(linha.find(".valorunitario").text());
				var idproduto = linha.find(".codigo").text();


				var item = {
					qtde: parseInt(quantidade),
					valorunitario: parseFloat(valorunitario),
					produto: { id: parseInt(idproduto) },
					// valor_total: parseFloat(valor_unitarioprod) * parseFloat(quantidade)
				};

				// totalVenda += parseFloat(valor_unitarioprod) * parseFloat(quantidade)
				venda.itens.push(item)

			});

			console.log('chamando ajax', venda)

			$.ajax({
					url: "/venda/salvar",
					type: "POST",
					contentType: "application/json",
					data: JSON.stringify(venda),
					success: function (response) {
						alert("Venda realizada com sucesso!")
						console.log(response)
						window.location.reload();

					},
					error: function (response) {
						alert("Erro ao carregar os dados: " + response);
					}
				})
		}

		function calcularTotal() {
			//percorrer dadostabela
			var total = 0;

			$("#dadostabela").each(function (index, elemento) {
				var valor = $(elemento).find(".totalnumber").val()

				total = parseFloat(total) + parseFloat(valor);


			});

			$("#totalgeral").text(total);
		}


		function incluirProduto() {

			var linha = $("#linhamodelo").clone();
			linha.attr("id", "");

			$(linha).find(".codigo").text($("#idproduto").val());

			$(linha).find(".descricao").text(
				$("#idproduto option:selected").text());

			$(linha).find(".quantidadeproduto").val($("#txtquantidade").val());

			//alterando a qtde do produto
			$(linha).find(".quantidadeproduto").change(function () {
				alterarProduto(linha);
			});

			$(linha).find(".btnexcluir").click(function () {
				excluirProduto(linha);
			});

			$("#dadostabela").append(linha);

			buscarProduto($("#idproduto").val(), linha);
		}


		function excluirProduto(linha) {
			$(linha).remove();
			calcularTotal();
		}

		function alterarProduto(linha) {
			console.log("alterar produto")

			// var valorunitario = $(linha).find(".valorunitario").text();
			// valorunitario = valorunitario.replace("R$", "").trim();
			// valorunitario = valorunitario.replace(",", ".");
			var valorunitario = pegarValor($(linha).find(".valorunitario").text())


			var qtde = $(linha).find(".quantidadeproduto").val();
			$(linha).find(".total").text(valorunitario * qtde);
			$(linha).find(".totalnumber").val(valorunitario * qtde);
			calcularTotal();
		}

		function pegarValor(valorString) {
			var valor = valorString;
			valor = valor.replace("R$", "").trim();
			valor = valor.replace(",", ".");
			return valor;
		}

		function buscarProduto(id, linha) {

			$.get("http://localhost:8080/produto/getProduto/" + id,
				function (resultado) {
					// TENTANDO FORMATAR VALOR EM R$

					var qtde = $(linha).find(".quantidadeproduto").val();
					// <td>R$ <span th:text="${#numbers.formatDecimal(item.precovenda, 0, 'POINT', 2, 'COMMA')}"></span></td>
					// $(linha).find(".total").text(numbers.formatDecimal((resultado.precovenda * qtde), 0, 'POINT', 2, 'COMMA'));
					$(linha).find(".total").text(resultado.precovenda * qtde);
					// $(linha).find(".valorunitario").text(resultado.precovenda);
					$(linha).find(".valorunitario").text(resultado.precovenda.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }));
					$(linha).find(".totalnumber").val(resultado.precovenda * qtde);
					// $(linha).find(".totalnumber").text(resultado.precovenda.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }));


					calcularTotal();
				});

		}

		function salvarProduto() {

			var produto = {
				id: $("#produto").val(),
				descricao: $("#produto").text()
			}

			var model = {
				id: "null",
				produto: produto,
				qtde: $("#quantidade").val()

			}

			$.ajax({
				type: "POST",
				url: "http://localhost:8080/venda/salvar",
				contentType: "application/json; charset=utf-8",
				data: JSON.stringify(model),
				dataType: "json",
				success: function (jsonResult) {

					console.log(jsonResult);
					// var linhaclone = $("#linhaexemplo").clone();
					// $(linhaclone).css("display", "block");
					// $(linhaclone).find(".codigo").text(jsonResult.id);
					// $(linhaclone).find(".descricao").text(jsonResult.descricao);
					// $("#dadostabela").append(linhaclone);

				},
				failure: function (response) {
					alert("Erro ao carregar os dados: " + response);
				}
			});
		}
	</script>
</body>

</html>